{% extends "base.html" %}
{% block title %}Stockverse{% endblock %}

{% block content %} 
<section class="home" id="home">
<div class="container">
</br>
    <h3 align="center">History</h3></br>
    <table class="table table-hover table-md-responsive">
        <thead>
            <tr class="thead-light">
                <th scope="col">Stocks Owned</th>
                <th scope="col">Price</th>
                <th scope="col">Shares</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(holdings_length) %}
            <tr>
                <td>{{ (holdings[i])['symbol'] }}</td>
                <td>${{ price[i] }}</td>
                <td>{{ shares[i] }}</td>
                <td>{{ date[i] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</section>
{% endblock %}