{% extends "base.html" %}
{% block title %}Stockverse{% endblock %}

{% block content %}
<section class="home" id="home">
  <div class="container">
  </br>
    <h3 align="center">Portfolio Summary</h3></br>
    <div class="table mx-auto w-auto">
    <table class="table table-hover table-md-responsive">
      <thead>
        <tr class="thead-light">
          <th scope="col">Stocks Owned</th>
          <th scope="col">Latest Price</th>
          <th scope="col">Average Purchase Price</th>
          <th scope="col">Number of Shares</th>
          <th scope="col">Total Value</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(holdings_length) %}
        <tr>
          <td>{{ (holdings[i])['symbol'] }}</td>
          <td>{{ price[i] | usd }}</td>
          <td>{{ avgprice[i] | usd }}</td>
          <td>{{ shares[i] }}</td>
          <td>{{ total[i] | usd }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td><strong>Cash Balance:</strong></td>
          <td>{{ cash | usd }}</td>
          <td><button class="btn btn-primary" data-toggle="modal" data-target="#managefund">Funds</button><br></td>
         </tr>
        </tbody>
    </table>
        <!-- add / withdraw funds dialog -->
        <div id="managefund" class="modal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Enter Amount</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form action="/changefund" method="POST">
                    <div class="form-group">
                      <input type="radio" id="add" name="cashop" value="add">
                      <label for="add">Add funds</label>
                      <input type="radio" id="withdraw" name="cashop" value="withdraw">
                      <label for="withdraw">Withdraw funds</label><br>
                      <input type="number" class="form-control" id="amount" name="amount" placeholder="cash amount, usd" required>
                      <button class="btn btn-primary" type="submit">Confirm</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
