<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stockverse</title>
    
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/landing.css">
</head>
<body>

    <!--Header Section Starts-->

    <header>
        <a href="/" class="logo">StockVerse</a>
        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.sign_up') }}">Sign up</a>
        </nav>
    </header>
    
 <!--Header Section Ends-->

  <!--Home Section Starts-->
  <section class="home" id="home">
      <div class="content">
          <h3>Investing Made Simple</h3>
          <p>  Manage your investments by buying and selling stocks, view your portfolio distribution and gain information on stocks.</p>
          <a href="{{ url_for('auth.sign_up') }}" class="btn">Get Started</a>
      </div>
  
    </div>
  </section>

   <!--Home Section Ends-->

   <!---Feature section starts-->
   <section class="features" id="features">
       <h1 class="heading"> Features</h1>

       <div class="box-container">
           <div class="box" >
               <i class="fa-solid fa-money-bill-trend-up"></i>
               <h3>Buy & Sell Stocks</h3>
               <p>Buy and sell your favorite stocks with your default cash balance of $100,000, and view them in your portfolio summary.
                You can add or withdraw funds.  
               </p>
           </div>
           <div class="box" >
            <i class="fa-solid fa-chart-pie"></i>
            <h3>Portfolio Distribution</h3>
            <p>View the percentage of the stocks owned in your portfolio through a pie chart.
            The chart will contain a different colour for each stock owned and its total value.</p>
        </div>
        <div class="box" >
            <i class="fa-solid fa-arrow-trend-up"></i>
            <h3>Data</h3>
            <p>Obtain infomration on potential stocks that you are intrested on the quote page.
            Enter a stock symbol and obtain information on real time prices.
            </p>
        </div>
       </div>
   </section>
   <!--Feature section ends-->
   
   <!--About section starts-->
   <section class="about" id="about">
       <h1 class="heading">About</h1></br>
    
       <div class="row">
           
        <div class="image">
            <img src="static/img/stock.png" alt="">
        </div>

       <div class="content">
           <h3>StockVerse</h3>
           <p>Stockverse is a portfolio managment application, that allows users to obtain information on stocks.
               Users can enter the symbol of any stock and obtain information on real time prices and market cap.
               Users will be able to buy and sell shares of any stocks. 
               When selling an owned stock users will obtain infomration on estimated proceeds and estimated profit and loss.
               On the homepage users will be able to view their portfolio summary as a table and on the history page users will be able to view all their transactions.
           </p>
           <p>Create your own portfolio and view your distribution chart.
           </p>
           <div class="buttons">
            <a href="{{ url_for('auth.sign_up') }}" class="btn">Get Started</a>
           </div>
       </div>
</div>
</section>
   <!--About section ends-->
   
   <!--Review section starts-->
   <section class="review" id="review">
       <h1 class="heading">Testimonial</h1></br>
    <div class="box-container">
    <div class="box">
       <img src="/static/img/avatar.png" alt="">
       <h3>Andrew Little</h3>
       <p>Stockverse is a great tool to use to buy and sell stocks. The website provides the information to make informed decisions on whether to buy a particular stock.</p>
       <div class="stars">
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star-half-alt"></i>
       </div>
    </div>
    <div class="box">
        <img src="/static/img/avatar2.png" alt="">
        <h3>Lara Gibson</h3>
        <p>This application is great a tool for beginners in investing to utilise. Stockverse has great user interface, and the user experience is ideal for beginners.</p>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
     </div>
     <div class="box">
        <img src="/static/img/avatar3.png" alt="">
        <h3>Patrick Harrison</h3>
        <p>Stockverse allows you to manually import your portfolio and view distribution charts. The service it provides is great but some improvements can be made.</p>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </div>
     </div>
</div>
   </section>
   <!--Review section ends-->

   <!--Footer section starts-->
   <section class="footer">
        <h1 class="credit">StockVerse, Copyright &copy; 2022 | all rights reserved!
        </h1>
   </section>
   <!--Footer section ends-->


<script>
let menu = document.querySelector('#menu-bar');
let mavbar = document.querySelector('.navbar');

menu.addEventListener('click', () =>{
    menu.classList.toggle('fa-times');
    navbar.classList.toggle('nav-toggle');
});

window.onscroll = () =>{
        menu.classList.remove('fa-times');
        navbar.classList.remove('nav-toggle');
    }
</script>
</body>
</html>