{% extends "base.html" %}
{% block title %}Buy Stock{% endblock %}

{% block content %}
<section class="home" id="home">
<div class="container">
    <h3>best mobile app <span>showcase</span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus suscipit porro nam libero natus error consequatur sed repudiandae eos quo?</p>
        <a href="#" class="btn">download now</a>
    </div>

    <div class="image">
        <img src="static/img/stock.png" alt="">
    </div>
</section>
{% endblock %}