{% extends "base.html" %}
{% block title %}Quote{% endblock %}

{% block content %}
{% if not symbol: %}
<br/>
<form action="/quote" method="POST">
	<div class="form-group">
		<input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock symbol">
	</div>
	<button class="btn btn-secondary" type="sumbit">Quote</button>
</form>
{% endif %}
{% if symbol: %}
<h3>Requested stock ticker information:</h3>
<table class="table table-hover">
  <thead>
	<tr>
	  <th>Ticker symbol</th>
	  <th>Company name</th>
	  <th>Latest price</th>
	  <th>Market cap</th>
	  <th>YTD Change</th>
	  <th>52WK High</th>
	  <th>52WK Low</th>
	  <th>Action</th>
	</tr>
  </thead>
  <tbody>

		<tr>
		  <td>{{ symbol }}</td>
		  <td>{{ name }}</td>
		  <td>{{ price }}</td>
		  <td>{{ marketCap }}</td>
		  <td>{{ YTDChange }}</td>
		  <td>{{ WK52High }}</td>
		  <td>{{ WK52Low }}</td>
		  <td><a href= "{{ url_for('transactions.buy', symbol = symbol) }}" class="btn btn-primary"
				 role="button" title="Buy stock">Buy</a>
		  </td>
		</tr>

  </tbody>
</table>

<h1>Company Name: {{ name }}</h1><br>
Latest price: {{ price }}<br/>
Market cap: {{ marketCap }}<br/>
YTD Change: {{ YTDChange }}<br/>
52WK High: {{ WK52High }}<br/>
52WK Low: {{ WK52Low }} <br/>
<td><a href= "{{ url_for('transactions.buy', symbol = symbol) }}" class="btn btn-primary"
	role="button" title="Buy stock">Buy</a><br/>


{% endif %}
{% endblock %}